<!-- app.component.html -->
    <h2>PlayerModel List</h2>

    <ul>
  <li *ngFor="let player of players">{{ player.name }}</li>
</ul>
<!-- <input [(ngModel)]="filterText" (input)="onFilterChange()" placeholder="Filter players" />

<ul>
  <li *ngFor="let player of filteredPlayers">{{ player.name }}</li>
</ul> -->

<!-- <input [(ngModel)]="filterText" placeholder="Search players" />
<ul>
  <li *ngFor="let player of filteredPlayers">{{ player.name }}</li>
</ul>
<button (click)="prevPage()">Previous</button>
<button (click)="nextPage()">Next</button> -->

